/* styles.css */
:root {
    background-color: #3e3e5e;
}

body {
    font-family: "Cousine", monospace;
    margin: 0;
    padding: 0;
    /* background: #333; */
    color: #f4f4f4;
}


header {
    background: #333;
    color: #e7cfbc;
    padding: 1rem;
    text-align: center;
    font-family: "Federo", sans-serif;
}

h1 {
    font-family: "Amarante", serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Federo", sans-serif;
    /* color: #e7cfbc;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em; */
}


#navigationMenu {
    background-color: #e7cfbc;
    max-width: 10rem;
    min-width: 5rem;
    /* font-family: font-family: "Faculty Glyphic", sans-serif; */
}
#navigationMenu a {
  font-family: "Federo", sans-serif;
}

#contextBar{
    background-color: rgb(35, 62, 53);
}


#logoDesktop {
    max-width: 10rem;
    min-width: 5rem;
    height: auto;
}

#welcomeSection {
    background-color: #2e2e2e;
}


main {
    max-width: 800px;
    margin: 2rem auto;
    background: #333;
    color: whitesmoke
    ;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
